

thead {
    background-color: rgb(236, 15, 144);
    ;
}
#a {
    background-color: rgb(236, 15, 144);
}
#b {
    background-color: rgb(236, 15, 144);
}
#c {
    background-color: rgb(236, 15, 144);
}

