body{
    padding: 50px;
    border: 1px solid rgb(196, 196, 196);
}

header{
    text-align: center
}
section{
    margin-top: 100px;
}



#contener1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
}
.article1{
    width: 30%;
}
.article1 img{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 130px;
    padding-top: 30px;
}



.contener2{
    display: flex;
    text-align: center;
    margin-top: 40px;
    justify-content: space-around;
}

.article2 img{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 130px;
}

